<div class="mukadi_chartJs_container"
     data-labels='{{ labels  | raw}}'
     data-target='{{ id }}'
     data-datasets='{{ datasets | raw }}'
     data-options='{{ options  | raw}}'
     data-chart-type="{{ type }}" >
    <canvas id="{{ id }}"></canvas>
</div>